# Allow system_app to read the AOSPA version.
get_prop(system_app, aospa_build_prop)

# Allow GameSpace to set process group
allow system_app cgroup:dir search;
allow system_app cgroup:file rw_file_perms;
